#include <windows.h>

#define IDC_EDIT 108
#define IDC_BUTTON_OK 109
#define IDD_DIALOG1 1002  // 确保定义了 IDD_DIALOG1

IDD_DIALOG1 DIALOGEX 0, 0, 100, 26
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP 
FONT 10, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT, 0, 0, 100, 15, ES_AUTOHSCROLL | ES_MULTILINE
    PUSHBUTTON      "OK", IDC_BUTTON_OK, 40, 16, 20, 10
END

